{{> header}}

<div class="container array">
   <div class="row">
      <div class="col text-center">
         <h2 style="margin-bottom: 5px">{{company}}</h2>
         <h6 style="margin-bottom: 20px">{{years}}</h6>
         <br>
      </div>
   </div>

   {{#if vid}}
      <div class="row" style="margin-bottom: 10px">

         <div class="col-3" align="right">
            <p style="color: #1A1A1A" class="showInfo" onclick="showJobInfo('pm')">{{title.[0]}}: </p>
         </div>

         <div class="col-6 pm-closed" >
            <p class="showInfo job-btn" onclick="showJobInfo('pm')">View Job Description</p>
         </div>

         <div class="col-6 pm-open showInfo" onclick="showJobInfo('pm')" style="display: none;">
            <p style="margin-bottom: 5px">Period: {{period.[0]}}</p>
            <p style="margin-bottom: 5px">Department: {{department.[0]}}</p>
            <p style="margin-bottom: 5px">Responsibilities: </p>
            <ul>
               {{#each responsibilities.[0]}}
                  <li style="padding-bottom: 5px">{{this}}</li>
               {{/each}}
            </ul>
         </div>

         <div class="col-3"></div>

      </div>

      <div class="row" style="margin-bottom: 10px">

         <div class="col-3" align="right">
            <p style="color: #1A1A1A" class="showInfo" onclick="showJobInfo('pm')">{{title.[1]}}: </p>
         </div>

         <div class="col-6 head-closed" >
            <p class="showInfo job-btn" onclick="showJobInfo('head')">View Job Description</p>
         </div>

         <div class="col-6 head-open showInfo" onclick="showJobInfo('head')" style="display: none;">
            <p style="margin-bottom: 5px">Period: {{period.[1]}}</p>
            <p style="margin-bottom: 5px">Department: "{{department.[1]}}</p>
            <p style="margin-bottom: 5px">Responsibilities: </p>
            <ul>
               {{#each responsibilities.[1]}}
                  <li style="padding-bottom: 5px">{{this}}</li>
               {{/each}}
            </ul>
         </div>

         <div class="col-3"></div>

      </div>

      <div class="row" style="margin-bottom: 80px">

         <div class="col-3" align="right">
            <p style="color: #1A1A1A" class="showInfo" onclick="showJobInfo('pm')">{{title.[2]}}: </p>
         </div>

         <div class="col-6 eng-closed" >
            <p class="showInfo job-btn" onclick="showJobInfo('eng')">View Job Description</p>
         </div>

         <div class="col-6 eng-open showInfo" onclick="showJobInfo('eng')" style="display: none;">
            <p style="margin-bottom: 5px">Period: {{period.[2]}}</p>
            <p style="margin-bottom: 5px">Department: "{{department.[2]}}</p>
            <p style="margin-bottom: 5px">Responsibilities: </p>
            <ul>
               {{#each responsibilities.[2]}}
                  <li style="padding-bottom: 5px">{{this}}</li>
               {{/each}}
            </ul>
         </div>

         <div class="col-3"></div>

      </div>

      <div class="row text-center">
         <div class="col">
            <hr>
            <p style="color: #1A1A1A; font-size: 18px">Projects I am proud with:</p>
            <hr>
         </div>
      </div>

      <div class="row text-center">
         <div class="col-4">
            <p>The Biggest Gym in the US<br>(Earth Treks Englewood)</p>
            <iframe width="260" height="146" src="https://www.youtube.com/embed/nvKaSSG2shg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
         </div>
         <div class="col-4">
            <p>The Biggest Gym in the World<br>(Kletterzentrum - Austria)</p>
            <iframe width="260" height="146" src="https://www.youtube.com/embed/Jvb6obg_gkU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
         </div>
         <div class="col-4">
            <p>Psicobloc Masters wall<br>(Park City, Utah, USA)</p>
            <iframe width="260" height="146" src="https://www.youtube.com/embed/qKwrTBJDtUM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
         </div>
      </div>
   {{else}}
      <div class="row" style="margin-bottom: 8em">

         <div class="col-3" align="right">
            <p style="color: #1A1A1A" class="showInfo" onclick="showJobInfo('pm')">{{title.[0]}}: </p>
         </div>

         <div class="col-6 pm-closed" >
            <p class="showInfo job-btn" onclick="showJobInfo('pm')">View Job Description</p>
         </div>

         <div class="col-6 pm-open showInfo" onclick="showJobInfo('pm')" style="display: none;">
            <p style="margin-bottom: 5px">Period: {{period.[0]}}</p>
            <p style="margin-bottom: 5px">Department: {{department.[0]}}</p>
            <p style="margin-bottom: 5px">Responsibilities: </p>
            <ul>
               {{#each responsibilities.[0]}}
                  <li style="padding-bottom: 5px">{{this}}</li>
               {{/each}}
            </ul>
         </div>

         <div class="col-3"></div>

      </div>
   {{/if}}
   <div class="row">

      <div class="col-3"></div>

      <div class="col-6 text-center">
         <a href="#/experience"><i class="fas fa-undo-alt"></i></a>
      </div>

      <div class="col-3"></div>

   </div>
</div>


{{> footer}}