<div id="certificate">
    <h5 style="color: #919AA1;">Module:</h5>
    <h5>{{module}}</h5>
    <img id="enlarge" class="cert" src="{{url}}">
    <p style="margin-top: 10px;">Verification link: <a style="color: #1A1A1A; font-size: 12px;" href="{{description}}" target="_blank">{{description}}</a></p>
    <button style="margin-bottom: 50px" type="button" class="btn btn-outline-primary" onclick="window.location.href='#/details/{{_id}}'">Details</button>
</div>